.main {
    margin-top: 100px;
    height: 700px;
    background: grey;
    opacity: 0.4;
    -webkit-box-shadow: 0 5px 10px 2px rgba(240, 244, 247, 0.5);
    -moz-box-shadow: 0 5px 10px 2px rgba(240, 244, 247, 0.5);
    box-shadow: 0 5px 10px 2px rgba(240, 244, 247, 0.5);
}

.test {
    border: 1px solid red;
    background: beige;
    padding-bottom: 25px;
}